.wrapper {
    max-width: 1200px;
    padding: 0px 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}